.lightGreen{
    background-color: #98bf21;
}
.darkGreen{
    background-color: #7A991A;
}
.mainDiv{
    font-family: Helvetica,sans-serif;
    background-color: #FFFFFF;
    width: 30%;
    height: 100%;
    display: inline-block;
}
.greenButton{
    background-color: #98bf21;
    border-style: solid;
    border-color: #7A991A;
    color: #fffffd;
    font-family: Helvetica,sans-serif;
}

.search{
    text-align: center;
    font-family: Helvetica,sans-serif;

}
.image{
    position: relative;
    left: 105%;
    width: 60%;
    height: 40%;
}



